version: 2.1
orbs:
  node: circleci/node@5.0.2
  eb: circleci/aws-elastic-beanstalk@2.0.1
  aws-cli: circleci/aws-cli@3.1.1
jobs:
  build:
    docker:
      - image: 'cimg/node:16.14'
    steps:
      - node/install:
          node-version: '16.14.2'
      - checkout
      - run:
          name: Install Front-End Dependencies
          command: |
            echo "NODE --version" 
            echo $(node --version)
            echo "NPM --version" 
            echo $(npm --version)
            npm run frontend:install
      - run:
          name: Install API Dependencies
          command: |
            echo "api:install: Install dependencies in the the backend API  "
            npm run api:install
      - run:
          name: Front-End Lint
          command: |
            echo "frontend:lint: Lint the frontend"
            npm run frontend:lint
      - run:
          name: Front-End Build
          command: |
            echo "frontend:build: Build the frontend app"
            npm run frontend:build
      - run:
          name: API Build
          command: |
            echo "api:build: Build the backend API"
            npm run api:build
  deploy:
    docker:
      - image: 'cimg/base:stable'
    steps:
      - node/install:
          node-version: '16.14.2'
      - eb/setup
      - aws-cli/setup
      - checkout
      - run:
          name: Deploy frontend
          command: |
            echo "# frontend:deploy: frontend deploy"
            npm run frontend:deploy
      - run:
          name: Deploy App
workflows:
  udagram:
    jobs:
      - build
      - hold:
          filters:
            branches:
              only:
                - master
          type: approval
          requires:
            - build
      - deploy:
          requires:
            - hold
